<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ascendant.e_businessprofile">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeNoAction"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Activity.ui.Healthcare.Ecosystem.SupportingIndustries.SupportingInduestriesActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.ui.Healthcare.Ecosystem.EcosystemActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.NewsActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.ui.Healthcare.Compliance.DetailComplianceActivity"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activity.ui.Healthcare.Compliance.ComplianceActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.ui.Healthcare.ListOfProbing.ListOfProbingActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.ui.Healthcare.BusinessRefrence.RegulationActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.ui.Healthcare.BusinessRefrence.eBookActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.ui.Healthcare.BusinessRefrence.BusinessRefrenceActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.ModuleActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.HomeActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.RegisterActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>